<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 GENERAL HEAD STUFF                                                    #}
  {#-------------------------------------------------------------------------------------------------------#}

  <meta charset="utf-8" />
  <title>{% if page.header.title %}{{ page.header.title|e("html") }} | {% endif %}{{ site.title|e("html") }}</title>
  {% include "partials/metadata.html.twig" %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="{{ page.find("/images").media.images["favicon.png"].url }}" />
  <link rel="canonical" href="{{ page.url(true, true) }}" />

  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 STYLES AND SCRIPTS                                                    #}
  {#-------------------------------------------------------------------------------------------------------#}

  {% block stylesheets %}
    {% do assets.addCss("theme://assets/built/styles.css", 100) %}
    {% do assets.addCss("theme://assets/built/pages/"~ page.template ~".css", 50) %}
  {% endblock %}

  {% block javascripts %}
    {# Libraries #}
    {% do assets.addJs("jquery", 200) %}
    {% do assets.addJs("theme://assets/built/libraries.js", 100) %}
    {# Other scripts (from partials, modular...) #}
    {% do assets.addJs("theme://assets/built/general.js", 50) %}
    {# This template's script #}
    {% do assets.addJs("theme://scripts/"~ page.template ~".js", 20) %}
  {% endblock %}

  {% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
  {% endblock %}

  {# to add styles from pages and components #}
  {% block styles %}{% endblock %}

  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
</head>
<body class="{{ page.header.body_classes }} navbar--{{ theme_var("navbar-position") }}">
  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 CONTENT                                                               #}
  {#-------------------------------------------------------------------------------------------------------#}

  <div class="grama">

    {# Navigation menu #}
    {% block header %}
      {% include "partials/nav.html.twig" %}
    {% endblock %}

    {# All the main content gets inserted here #}
    <div class="grama-body mat-{{ page.template }}">
      {% block body %}{% endblock %}
    </div>

  </div>

  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 OPTIONAL ADDITIONAL JS CODE                                           #}
  {#-------------------------------------------------------------------------------------------------------#}

  {# to add styles from pages and components #}
  {% block scripts %}{% endblock %}

  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
</body>
</html>
