
<div
  class="mtp-gallery {{ class }}"
  style="
    {% if page.header.images_min_width %} grid-template-columns: repeat(auto-fit, minmax({{ page.header.images_min_width }}, 1fr)); {% endif %}
    {% if page.header.gap_width %} gap: {{ page.header.gap_width }}; {% endif %}
  "
>
  {% for image in images %}
    <span class="mtp-gallery--image">
      {{ image.lightbox().cropZoom(200,200).html(image.basename)|raw }}
      {% if image.meta.alt_text %}<span class="mtp-gallery--image_title">{{ image.meta.alt_text }}</span>{% endif %}
    </span>
  {% endfor %}
</div>
