
<div
  class="mtp-gallery {{ class }}"
  style="
    {% if page.header.images_min_width %} grid-template-columns: repeat(auto-fit, minmax({{ page.header.images_min_width }}, 1fr)); {% endif %}
    {% if page.header.gap_width %} gap: {{ page.header.gap_width }}; {% endif %}
  "
>
  {% for image in images %}
    <span class="mtp-gallery--image">

      {# FIGURE OUT IF THERE IS A TITLE (OR A LIST OF TITLE BY LANGUAGE) TO THE IMAGE #}
      {% set imageTitle = image.meta.title is iterable ? image.meta.title[grav.language.getActive] : image.meta.title %}
      {# SAME IN CASE FEATHERLIGHT TITLE SHOULD BE DIFFERENT #}
      {% set imageTitleLightbox = image.meta.title_lightbox is iterable ? image.meta.title_lightbox[grav.language.getActive] : image.meta.title_lightbox %}

      {# CREATE IMAGE WITH LIGHTBOX #}
      {{ image.lightbox().cropZoom(200,200).html(image.basename, imageTitleLightbox ?: imageTitle)|raw }}

      {# IF TITLE SHOULD BE DISPLAYED UNDER IMAGE, DO IT #}
      {% if imageTitle %}<span class="mtp-gallery--image_title">{{ imageTitle }}</span>{% endif %}

    </span>
  {% endfor %}
</div>
