
<div class="mtp-post_card {% if fullWidth %}mtp-post_card_full_width{% endif %}">
  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 FEATURE IMAGE                                                         #}
  {#-------------------------------------------------------------------------------------------------------#}

  {% if not post.header.hide_header_image %}
    {% include "partials/post_card_image.html.twig" with { post: post } %}
  {% endif %}

  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 CONTENT                                                               #}
  {#-------------------------------------------------------------------------------------------------------#}

  <div class="mtp-post_card--content">

    <a class="content-link" href="{{ post.url }}">

      {# TITLE #}
      <div class="content-link-title">{{ post.title|raw }}</div>

      {# EXCERPT (if no image and not fullWidth) #}
      {% set post_image = post.media.images|first %}
      {% if (not post_image or post.header.hide_header_image) and not fullWidth %}
        <div class="content-link-excerpt">
          <p>{{ post.content|raw|striptags|safe_truncate(200)|raw  }}</p>
        </div>
      {% endif %}

    </a>

    {# POST HEADLINE (CONTAINING: AUTHORS, TAGS, READING TIME...) #}
    {% include "partials/post_headline.html.twig" with {
      post: post,
      tags: theme_var("display_tags_in_post_cards") ? post.header.taxonomy.tag,
      fullWidth: fullWidth,
    } %}

    {# CONTENT AND READ MORE (if fullWidth) #}
    {% if fullWidth %}
      <div class="content-long_excerpt">
        <p>{{ post.content|raw|striptags|safe_truncate(500)|raw  }}</p>
      </div>
      <script> console.log({{ post.content|length|json_encode|raw }}) </script>
      {% if post.content %}
        <a class="content-read_more" href="{{ post.url }}">{{ "POST_CARD.READ_MORE"|t }}</a>
      {% endif %}
    {% endif %}

  </div>

  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
</div>
