
{% set tagPageSlug = theme_var("tag_page_slug") %}
{% if not tagPageSlug %} {% set tagPageSlug = "/tag/" %} {% endif %}

<div class="mtp-tags_list {{ tags_list_class }}">
  {% for tag in tags %}
    {% set tag_category = regex_match(tag, "/^[^\\:]+(?=\\:)/u")|first %}
    <a
      class="mtp-tags_list--tag"
      slug="{{ tag }}"
      href="{{ page.find(tagPageSlug).url ~ '?tag=' ~ tag }}"
      category="{{ tag_category }}"
    >{{ tag }}</a>
  {% endfor %}
</div>
